body {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h1 {
    display: flex; justify-content: center;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

body {
  color: #555;
}

body {
    background-color: #fbf2bc;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
  color: #grey;
}

body {
  color: #566b78;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

nav.navigationbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav.navigationbar li {
    margin: .3em;
    font-size: 1.2em;
    padding: 1em;
}

footer.footer {
   position: absolute;
   display: flex; justify-content: space-between;
   bottom:0;
   width:100%;
   height:60px;
   margin: auto;
}

.navigationbar-box {
	padding: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1442f9e3;
}

nav.navigationbar {
	display: flex;
	justify-content: space-around;
	background-color: transparent;
	flex-wrap: wrap;
}

.navigation-bar-button {
	display: block;
	padding: .5em;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
}
.navigationbar-button:hover {
	color: #6f6c7a;
}

.home-body-text
